/*
 * Filename: c:\Users\leone\Documents\code\docktron\headers\.npmrc
 * Path: c:\Users\leone\Documents\code\docktron\headers
 * Created Date: Sunday, October 24th 2021, 5:27:30 pm
 * Author: leone
 * 
 * Copyright (c) 2021 docktron
 */

package-lock=false